body {
  background-image: url(背景转换1/背景完整版2.jpg);
  background-position-x: center;
}
.one {
  float: left;
  margin-left: 40px;
  margin-top: -15px;
}
.two {
  margin-top: 40px;
  margin-left: 330px;
  list-style-type: none;
  color: white;
}
.two li {
  font-size: 20px;
  padding: 0px 27px 0px 27px;
  display: inline;
}
.three {
  margin-left: 470px;
  margin-top: 110px;
}
.four {
  margin-left: 715px;
  margin-top: 30px;
}
.five {
  position: relative;
  background-color: white;
  padding: 40px 200px 40px 200px;
  display: inline;
}
.six {
  background-color: white;
  height: 76px;
  margin-top: 20px;
  width: 960px;
  margin-left: 225px;
  bottom: 1px;
  padding-top: 27px;
  padding-left: 40px;
}
.six1 {
  padding-left: 200px;
  margin-right: 500px;
  margin-left: -110px;
  font-size: 20px;
  position: absolute;
  margin-top: -103px;
}
.sever {
  background-color: white;
  height: 76px;
  margin-top: 0px;
  width: 960px;
  margin-left: 225px;
  padding-top: 29px;
  padding-left: 40px;
  /* border-bottom */
}
.sever1 {
  margin-top: -40px;
  margin-left: 263px
}
.sever2 {
  position: absolute;
  margin-left: 90px;
  margin-top: -84px;
}
.eight {
  background-color: white;
  height: 76px;
  margin-top: 19px;
  width: 960px;
  margin-left: 225px;
  padding-top: 29px;
  padding-left: 40px;
}
.eight2 {
  margin-left: 90px;
  margin-top: -103px;
}
.nine {
  background-color: white;
  height: 76px;
  margin-top: -4px;
  width: 960px;
  margin-left: 225px;
  padding-top: 29px;
  padding-left: 40px;
}
.nine1 {
  margin-left: 90px;
  margin-top: -105px;
}
.ten {
  position: absolute;
  background-color: white;
  width: 1583px;
  margin-left: -8px;
  height: 600px;
  margin-top: -4px;
}
.ten1 {
  font-size: 40px;
  margin-top: 110px;
  margin-left: 110px;
}
.ten2 {
  position: absolute;
  margin-top: 95px;
  margin-left: 110px;
  background-color: #006d80;
  padding: 15px 80px 15px 80px;
  color: white;
}
.ten3 {
  font-size: 25px;
  margin-top: -230px;
  margin-left: 800px;
}
.ten4 {
  font-size: 25px;
  margin-top: 60px;
  margin-left: 830px;
}
.ten5 {
  font-size: 25px;
  margin-top: 60px;
  margin-left: 835px;
}
.elven {
  position: absolute;
  background-color:#dbdbdb ;
  width: 1583px;
  height: 3284px;
  margin-left: -8px;
  margin-top: 590px;
}
.elven1 {
  margin-left: 720px;
  margin-top: 95px;
}
.elven2 {
  margin-top: 50px;
  margin-left: 820px;
}
.elven3 {
  position: absolute;
  margin-top: -400px;
  margin-left: 90px;
}
